{% extends "layout.njk" %}


{% block head %}
    <title>Sobre - Edimilson Braz</title>
{% endblock %}

{% block content %}
       
        <div id="wrapper">
            <img src="https://avatars3.githubusercontent.com/u/65040481?s=460&u=89ccd5a011db9d8281701ee5ca4f09ac844234c3&v=4" alt="Foto EdimilsonBraz">

            <h1>Edimilson Braz</h1>
            <h2>Desenvolvedor Front-end</h2>
            <h3>CEO da InoveSites</h3>
            <p>Sempre evoluindo, <span>1%</span> melhor todos os dias. Acesse <a href="https://www.inovesites.com.br" target="_blank">InoveSites</a> </p> 
        </div>
        
        <div id="links-footer" class="links">
            <a href="https://github.com/edimilsonbraz" target="_blank">Github</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/edimilsonBraz" target="_blank">Linkedin</a>
        </div>

{% endblock %}